{% extends 'templates/app.twig' %}

{% block content %}
    <section class="pageheader">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4>Image Upload Interface</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="section white">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="module">

                        <form role="form" action="{{ path_for('image.upload') }}" method="POST"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputEmail1">IMAGE TITLE</label>
                                <input type="text" name="image_title" class="form-control" id="exampleInputEmail1"
                                       placeholder="Enter Image Description" required>
                            </div>
                            <div class="form-group">
                                <label for="comments">IMAGE DESCRIPTION</label>
                                <textarea class="form-control" name="image_description" id="comments" rows="8"
                                          placeholder="Type here image description"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" name="image_link" class="btn btn-default" id="exampleInputFile" required>
                            </div>

                            <div class="select_wrap">
                                <select name="image_category" class="form-control">
                                    {% for category in categoryList.categories %}
                                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button type="submit" class="btn btn-default btn-normal">Submit</button>
                            {{ csrf.field | raw }}
                        </form>

                    </div><!-- end module -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
{% endblock %}