h4{
    padding-bottom: 0px!important;
}
.no-padding{
    padding: 10px 20px!important;
}
.favorited{
    background-color: red;
}
h3.text-center.less-bottom {
    padding-bottom: 0px;
    margin-bottom: 2px;
}
